{% extends 'base.html.twig' %}

{% block title %} Homepage {% endblock %}

{% block body %}

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">Cras justo odio</a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus</a>
    </div>

<div class="example-wrapper">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
</div>
{% endblock %}
