{% extends 'base.html.twig' %}

{% block title %}Skillbook - Liste collaborateurs{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="card text-white bg-secondary col-12 cancel-col-padding">
            test
    </div>
</div>

{% endblock %}
