/* styles génériques */

.display-none{
    display: none;
}



/* styles du body */

body{
    background-image: url(../img/BG_dark.svg);
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
}

body .card .card-header{
    background-color:#0070AD;
}

body .cancel-col-padding{
    padding-left: 0;
    padding-right: 0;
}


.form-group input,
.form-group select{
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.825rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.form-group label {
    margin-bottom: 0.25rem;
}

body .navbar{
    padding: .25rem 1rem .25rem 1rem;
}

.form_skills_container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

/* register */
.register.form_skills_container .form-check input,
.register .form_skills_container .form-check select{
    height: calc(.5em + 0.5rem + 2px);
}

.register .form-check-custom-radius input{
    display: none;
}
.register .form-check-custom-radius {
    margin-right: .7rem;
    margin-bottom: .7rem;
    border: solid .12rem;
    padding: 0rem .5rem;
    border-radius: 1rem;
    border-color: #0070AD;
    font-size: .8rem;
}
.register .form-check-custom-radius:hover,
.register .form-check-custom-radius:focus{
    background-color:rgba(0, 112, 173,.4);
}
.register .form-check-custom-radius.selected {
    Background-color: #0070AD;
}

.form_form-group--flex{
    display: flex;
}
.form_form-group--flex .form-group {
    width: 48%;
}
.form_form-group--flex .form-group:last-child {
    width: 52%;
    padding-left: 30px;
}
@media (max-width: 1075px) {
    .form_form-group--flex{
        display: block;
    }
    .form_form-group--flex .form-group,
    .form_form-group--flex .form-group:last-child {
        width: 100%;
        padding-left: 0px;
    }
}

/* login */
.login-row-margin-top25{

}
